@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700');
$body-color: #E2F7FF;
$dark-blue: #4A5999;
$white: #ffffff;

body {
  background-color: $body-color;
  font-family: 'Libre Franklin', sans-serif;
  width: 80%;
  margin: 0 auto;
}  

a{
	color: $dark-blue;
	text-decoration: none;
	width: 100%;
	height: 100%;

	&#top-download, &#lower-download{
		pointer-events: none;
	}
}



.download-button{
	transition: background-color 0.25s;
	padding: 10px;
	border: 1px solid $dark-blue;
	width: 200px;
	text-align: center;
	&:hover{
		background-color: $white;
		cursor: pointer;
	}
}

.row-wrapper{
	display: flex;
	width: 100%;
}

.form-wrapper{
	display:block;
	width: 50%;
}

#map{
	background-color: #ffffff;	
	width: 50%;
}

.hurricane{
	stroke: #f0f;
}

table{
	border-collapse: collapse;
	th{
		border-bottom: 1px solid black;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 400;
		cursor: pointer;
		padding: 3px;
		&:hover{
			background-color: #95E2FF;
		}
		&.active{
			background-color: $white;
		}
	}
	td{
		border-right: 1px $body-color solid;
		border-bottom: 1px $body-color solid;
		width: 10%;
		max-width: 200px;
		padding: 5px;
		background-color: $white;
	}

}