@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700');
$body-color: #E2F7FF;
$dark-blue: #4A5999;
$white: #ffffff;

body {
  background-color: $body-color;
  font-family: 'Libre Franklin', sans-serif;
  width: 80%;
  margin: 0 auto;
  color: $dark-blue;
}  

.section-1{
	display: flex;
	margin-bottom: 40px;
}

a{
	color: $dark-blue;
	text-decoration: none;
	width: 100%;
	height: 100%;

	&#top-download, &#lower-download{
		pointer-events: none;
	}
}

.download-button{
	margin: 0px 5px 0px 0px;
	outline: none;
	transition: background-color 0.25s;
	padding: 10px;
	border: 1px solid $dark-blue;
	width: 200px;
	text-align: center;
	background-color: $white;
	color: $dark-blue;
	&:hover{
		background-color: $dark-blue;
		cursor: pointer;
		a{
			color: $white !important;
		}
	}
}


.zoom-button, .reset-button, .select{
	outline: none;
	transition: background-color 0.25s;
	padding: 5px 10px;
	margin: 0 2.5px 5px 0;
	border: 1px solid $dark-blue;
	text-align: center;
	background-color: $white;
	color: $dark-blue;
	font-size: 16px;
	&:hover{
		background-color: $dark-blue;
		cursor: pointer;
		color: $white;
	}


}


.reset-button{
	margin-top: 12px;
}
.row-wrapper{
	display: flex;
	width: 100%;
	justify-content: space-between;
	@media only screen and (max-width: 1024px) {
	    display: block;

	}
}

.form-wrapper{
	display:block;
	margin-bottom: 40px;
}
.check-wrap{
	display: flex;
	align-items: center;
	padding-bottom: 12px;
	border-bottom: 1px solid $white;

	.check-name{

		font-size: 12px;
		margin-left: 5px;

	}
}

.button-section{
	display: flex;
	padding-bottom: 12px;
	border-bottom: 1px solid $white;
	div{
		width: 150px;
		margin-right: 15px;
	}
	&.off{
		pointer-events: none;
		select{
			color: #999999 !important;
			border: 1px solid #999 !important;
		}
		
	}
}

.button-label{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;

}




#button-wrap{
	display: flex;

}
#text{
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
	width: 150px;
	border: solid 1px $dark-blue;
	display: flex;
	align-items: center;
	margin-left: 20px;
	font-weight: 700;
	color: $dark-blue;
	#no-track{
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 400;
		font-style: italic;
	}
}

#ex{
	padding-bottom: 2px;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	background-color: $white;
	width: 17px;
	height: 14px;
	border-radius: 1em;
	border: solid 1px $dark-blue;
	text-align: center;	
	color: $dark-blue;
	cursor: pointer;
	&:hover{
		background-color: $dark-blue;
		color: $white;
	}
}
#map-wrap{
	width: 60%;
	@media only screen and (max-width: 1024px) {
	    width: 100%;
	}
}
#map{
	background-color: #FFF0DF;	
	overflow: hidden;
	margin-bottom: 40px;
	border: 2px $dark-blue solid;
	height: 450px;
	max-width: 800px;
}


.hurricane{
	outline: none;
	fill: #222;
	cursor: pointer;
	&:hover{
		stroke: #606AD4 !important;
		stroke-width: 2px !important;

	}
	&.selected{
		stroke: #1F2ECC !important;
		stroke-width: 2px !important;
		stroke-linecap: round;
	}
}

table{
	border-collapse: collapse;
	width: 100%;
	th{
		border-bottom: 1px solid black;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 400;
		cursor: pointer;
		padding: 3px;
		&:hover{
			background-color: $dark-blue;
			color: $white;
		}
		&.active{
			background-color: $white;
			color: $dark-blue;
		}
	}
	td{
		border: 1px $white solid;
		width: 10%;
		max-width: 200px;
		padding: 5px;
		background-color: $body-color;
	}
	tbody{
		tr{
			cursor: pointer;
			&:hover{
				td{
					background-color: $dark-blue;
					color: $white;
				}
			}
		}
	}

}